* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  appearance: none;
  font-family: "Poppins", sans-serif;
}
html {
  overflow-x: hidden;
}
body {
}
section {
  min-height: 100vh;
}

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

#whatsapp-button a {
  display: block;
  font-size: 2rem;
  color: #fff;
  background-color: #25d366;
  text-align: center;
  padding: 4px 8px 1px 7px;
  border-radius: 50%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

#whatsapp-button a i {
  margin: 0px 3px 0px 4px;
}
