.parceiros {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-marrom);
}
.content-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.feedback {
  display: flex;
  width: 100%;
  max-width: 66rem;
  margin: 2rem 0;
}
.content-feedback h4 {
  color: var(--cor-branco);
  opacity: 0.7;
  margin: -2rem 49.3rem 1rem 0rem;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 6px 20px;
  border-radius: 0px 0px 15px 0px;
}
.feedback p {
  color: var(--cor-branco);
  opacity: 0.6;
  font-size: 0.9rem;
}
.c-feedback {
  margin: 0 2rem;
}
.c-pessoa {
  display: flex;
}
.c-pessoa img {
  vertical-align: middle;
  object-fit: contain;
}
.c-pessoa p {
  margin: 1rem 0rem 1rem 2rem;
}
.content-parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-parceiros h4 {
  color: var(--cor-branco);
  margin: 0rem 46rem 0rem 0rem;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 0px 17px 0px 0px;
  opacity: 0.7;
}
#carouselParceiros {
  display: flex;
  width: 68rem;
  height: 18rem;
}
#carouselParceiros img {
  object-fit: cover;
  max-width: 19rem;
  display: flex;
  margin: 6rem 0rem 0 26rem;
}

.c-parceiro {
  height: 20rem;
}

/* Responsivo */
@media screen and (max-width: 1000px) {
  .feedback {
    flex-direction: column;
    max-width: 17rem;
    margin: 1rem 5rem 0rem 0rem;
  }
  .content-feedback h4 {
    margin: -2rem 9.5rem 1rem 0rem;
  }
  .c-feedback {
    margin: 1rem 1rem;
  }
  .c-feedback p {
    font-size: 0.8rem;
  }
  .c-pessoa {
    margin: 1rem 0;
  }
  .grid-parceiros {
    flex-direction: column;
    margin: 0 1rem 4rem 0rem;
  }
  .grid-parceiros img {
    width: 80%;
    height: 80%;
  }
  .content-parceiros h4 {
    margin: 0 6.5rem 0 0;
  }
  #carouselParceiros {
    width: 20rem;
    margin: 0 6rem 0 0;
  }
  #carouselParceiros img {
    margin: 6.5rem 0 0 4.5rem;
    max-width: 11rem;
  }
}
