section .ambiente {
  height: 80%;
}
.ambiente {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--cor-preto);
}
.carousel-ambiente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.btn-catalogo {
  width: 100%;
  max-width: 8rem;
  height: 2.5rem;
  background-color: var(--cor-laranja);
  color: var(--cor-branco);
  margin: 1rem 0;
}
.ambiente h4 {
  color: var(--cor-branco);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
#ambienteCategorias {
  width: 86rem;
  height: 32rem;
}

.c-indicators {
  margin: 0 0 4rem 0;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 8px;
  height: 8px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.c-item {
  height: 38rem;
}
.c-img {
  width: 100%;
  height: 100%;
  max-width: 51rem;
  max-height: 29rem;
  object-fit: cover;
  filter: brightness(0.6);
  margin: 0 0 0 17rem;
}

/* Responsivo */
@media screen and (max-width: 1000px) {
  .ambiente {
    padding: 0 20px;
  }
  .ambiente h4 {
    color: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
  }
  .categorias {
    display: flex;
    flex-direction: column;
  }
  #ambienteCategorias {
    width: 21rem;
    height: 19rem;
    margin: 0rem 0rem 0rem 0;
  }
  .c-item {
    height: 16rem;
  }
  .c-img {
    max-width: 14rem;
    max-height: 11rem;
    margin: 1rem 0 0 3rem;
  }
  .c-indicators {
    margin: 0 0 7rem 0;
  }
  .btn-catalogo {
    margin: 0rem 0rem 0rem 0;
  }
}
