.topicos {
  display: flex;
  flex-direction: column;
  background: -moz-linear-gradient(left, #000 16%, rgba(0, 0, 0, 0) 85%);
  background: -webkit-linear-gradient(to right, #000 16%, rgba(0, 0, 0, 0) 85%);
  background: linear-gradient(to right, #000 20%, rgba(0, 0, 0, 0) 100%);
  z-index: 3;
}
.topicos::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: radial-gradient(
    circle at 36% 48%,
    #000000,
    rgba(11, 39, 65, 0.32) 87%,
    rgba(0, 0, 0, 0)
  );
}
.topicos img {
  position: absolute;
  width: 100vw;
  z-index: -1;
  border: none;
}
.box {
  z-index: 2;
  margin: 7rem 4rem;
}
.topico {
  display: flex;
  width: 100%;
  max-width: 72rem;
}
.content-box {
  width: 100%;
  max-width: 21rem;
  margin: 0 1rem 3rem;
}
.content-box h3 {
  color: var(--cor-branco);
  margin-bottom: 0.71rem;
}
.content-box p {
  color: var(--cor-branco);
  opacity: 0.7;
}

/* Responsivo */
@media screen and (max-width: 1000px) {
  .box {
    margin: 5rem 1.5rem;
  }
  .topico {
    flex-direction: column;
    max-width: 15.5rem;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .topicos {
    background: var(--cor-preto);
  }
  .topicos img {
    display: none;
  }
}
