.contato {
  background-color: var(--cor-preto);
  align-items: center;
  padding: 3rem 0;
  color: var(--cor-branco);
}
.info {
  display: flex;
  margin: 3rem 0;
}
.contato h2,
.contato h4 {
  opacity: 0.8;
}
.contato p {
  opacity: 0.6;
}
.empresa {
  display: flex;
  flex-direction: column;
  margin: 0rem 10rem 0rem 12rem;
}
.content-contato {
  margin: 0 2rem;
}
.numero-contato .numeros {
  display: flex;
}
.btn-contato {
  width: 100%;
  max-width: 10rem;
  height: 2.5rem;
  background-color: var(--cor-laranja);
  color: var(--cor-branco);
  margin: 1rem 0;
}
.numeros i,
.redes i {
  font-size: 1.4rem;
  color: #ee7505;
}
.numeros p {
  margin-left: 0.5rem;
}
.content-redes {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0 6rem;
}
.direitos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 37rem 0rem 0rem;
}

/* Responsivo */
@media screen and (max-width: 1000px) {
  .empresa {
    margin: 0 0rem 0 2rem;
  }
  .content-contato {
    margin: 1rem 2rem;
  }
  .direitos {
    margin: 0rem 4rem 0rem 0rem;
    font-size: 0.6rem;
  }
  .info {
    flex-direction: column;
  }
  .content-redes {
    margin: 0rem 0rem 0 2rem;
  }
}

